{% extends 'front/page.html.twig' %}

{% block body %}
    <section class=bg-white-section>
        <div class=container>
            <div class=row>
                <div class=col-md-5>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-push-2">
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class=item-price-two>
                        <h2>Web development</h2>
                        <div class=price><span>from</span>
                            <p>$1000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section trigger-->
    <section data-image="img/bg3.jpg" class="section-trigger bg-dark-section background-image">
        <div class=container>
            <div class=row>
                <div class=col-md-12>
                    <div class="heading-title small-heading center">
                        <h2>Want to discuss your <span>new project ?</span></h2>
                    </div>
                    <div class="buttons-section center"><a href="{{ asset('template/') }}#" class="btn accent-btn large-btn">Start project</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}